@charset "UTF-8";
/**
 * define valiables
 * 各scssファイルでよく使う値を変数定義
 */
/**
 * easing
 */
/**
 * function
 * 値を返す
 */
/**
 * mixins
 * ブロックを返す
 */
/*
デバイス定義
 */
/*
スマホの文字指定専用（横幅640px想定）
font-sizeにvwを設定
 */
/*
clearfix
 */
/*
iOS smooth scroll
 */
/*
opacity
 */
/*
fade
 */
/*pages*/
#pageItemdetail .item-detail {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%; }
  #pageItemdetail .item-detail img {
    max-width: 100%; }
  #pageItemdetail .item-detail .item-photo {
    width: 100%;
    max-width: 400px; }
    #pageItemdetail .item-detail .item-photo img {
      border: 1px solid #b3b3b3; }
  #pageItemdetail .item-detail .item-info {
    max-width: 570px;
    width: 100%; }
    #pageItemdetail .item-detail .item-info-inner {
      background: #FFF;
      padding: 16px 32px; }
  #pageItemdetail .item-detail .item-icons li {
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    padding: .3em .5em;
    background: #CCC;
    margin-right: 3px;
    border-radius: 5px;
    color: #FFF; }
    #pageItemdetail .item-detail .item-icons li span {
      display: inline-block; }
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  #pageItemdetail .item-detail .item-icons li {
    font-size: 10px;
    font-size: 2.6666666667vw; } }

    #pageItemdetail .item-detail .item-icons li.item-icon-new {
      background-color: #ed1c24; }
    #pageItemdetail .item-detail .item-icons li.item-icon-member {
      background-color: #000;
      color: #f49c00; }
      #pageItemdetail .item-detail .item-icons li.item-icon-member:before {
        content: "";
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        background-image: url(/assets/img/icon/memberonly.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-right: .5em; }
    #pageItemdetail .item-detail .item-icons li.item-icon-sale {
      background-color: #29abe2; }
  #pageItemdetail .item-detail .item-name {
    font-size: 20px;
    margin-top: 10px; }
    @media print, screen and (max-width: 750px) {
      #pageItemdetail .item-detail .item-name {
        font-size: 16px;
        font-size: 4.2666666667vw; } }
  #pageItemdetail .item-detail .item-code {
    color: #808080;
    margin: 8px 0; }
    @media print, screen and (max-width: 750px) {
      #pageItemdetail .item-detail .item-code {
        font-size: 12px;
        font-size: 3.2vw; } }
  #pageItemdetail .item-detail .item-thumbs {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    margin-left: -2%;
    flex-wrap: wrap; }
    #pageItemdetail .item-detail .item-thumbs li {
      width: 18%;
      margin-left: 2%;
      margin-bottom: 12px;
      border: 1px solid #CCC; }
