@charset "utf-8";

$img_path: "/assets/img/";
@import "../lib/properties";
@import "../lib/mixin";
@import "../modules/slide";

.m-itemList{
    img{
        width: 100%;
    }
}


/*pages*/
#pageCart{
    .l-content{
        width: 600px;
        @include sp{
            width: 100%;
        }
    }
    .l-sidebar{
        width: 340px;
        @include sp{
            width: 100%;
        }
    }
    @include sp{
    background: #FFF;
    }
    .price-box{
        margin: 16px 0px 32px 0px;
        border: 1px solid $color_key;
        padding: 16px;
        background: #FFF;
        font-weight: normal;
        border-radius: 5px;
        @include fs(16);
        @include sp{
            margin: 16px 16px 32px 16px; 
            @include vw(24);
        }
        li{
            margin-bottom: 12px;
            display: flex;
            justify-content: space-between;
            &.price-off{
                color: #0071bc;
            }
            &:last-child{
                margin-bottom: 0px;
            }
            strong{
                @include vw(32);
                @include pc{
                    @include fs(16);
                }
                em{
                    font-size: 80%;
                }
            }
        }
        .price-code-off{
            display: block;
            @include vw(16);
            @include pc{
                @include fs(12);
            }
            text-align: right;
            color: #646464;
            width: 100%;
        }
        p{
        }
        @include pc{
            @include fs(14)
        }
    }
    .cart-inner{
        margin: 16px 0px 32px 0px;
        @include sp{
            margin: 16px 16px 32px 16px; 
        }
        .font-red{
            color: #d14835;
        }
        .cart-items{
            margin: 32px 0 ;
            & > li{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                position: relative;
                margin-bottom: 16px;
                padding-bottom: 14px;
                border-bottom: 1px solid #c9c9c9;
                img{
                    max-width: 100%;
                }
                .item-info{
                    li{
                        margin-top: 8px;
                    }
                }
                &.price-header{
                    @include sp{
                        display: none;
                    }
                }
                &.sp{
                    text-align: center;
                }
                .photo{
                    width: 20%;
                    @include sp{
                        width: 30%;
                    }
                }
                .info{
                    width: 42%;
                    margin-left: 3%;
                    @include sp{
                        width: 67%;
                    }
                    .item-info{
                        span{
                            color: #646464;
                            font-weight: normal;
                        }
                        &.item-info-s{
                            @include vw(22);
                            @include pc{
                                @include fs(12);
                            }
                        }
                        &.item-info-m{
                            @include vw(24);
                            @include pc{
                                @include fs(16);
                            }
                        }
                        &.item-info-l{
                            @include vw(28);
                            font-weight: bold;
                            @include pc{
                                @include fs(18);
                            }
                        }
                    }
                    
                }
                .price{
                    width: 17%;
                    margin-left: 3%;
                    @include sp{
                        position: absolute;
                        left: 33%;
                        width: 100%;
                        bottom: 0px;
                        .sp{
                            display: inline-block;
                        }
                    }
                }
                .bts{
                    margin:16px 0 0 0;
                    .m-btn-input2{
                        position: relative;
                        padding-left: 1.5em;
                        &:before{
                            content: "×";
                            display: inline-block;
                            position: absolute;
                            left: 0.5em;
                            top: 30%;
                        }
                    }
                    .m-btn-input2.btn-del{
                        margin-right: 5px;
                        input{
                            @include vw(22);
                            padding: 10px 10px 10px 3px;
                            @include pc{
                                @include fs(16);
                            }
                        }
                       
                    }
                    .m-btn-input2.btn-fav{
                        a{
                            padding: 5px;
                            @include vw(18);
                            padding: 5px;
                            line-height: 1;
                            @include pc{
                                @include fs(13);
                            }
                        }
                    }
                }
                .num{
                    width: 13%;
                    margin-left: 2%;
                    .select-box{
                        margin: 0 5px 0px 0px;
                        @include sp{
                            display: inline-block;
                            vertical-align: top;
                            width: 43%;
                        }
                    }
                    @include sp{
                        width: 50%;
                        margin:16px 0 0 0;
                        .m-btn-input2{
                            display: inline-block;
                            vertical-align: top;
                        } input{
                            padding: 10px;
                            @include vw(22);
                            @include pc{
                                @include fs(16);
                            }
                        }
                    }
                }
            }
            
        }
    }
    .id-box{
        border:1px solid #646464;
        border-radius: 5px;
        overflow: hidden;
        margin:16px 0 32px 0;
        background: #FFFFFF;
        dt{
            background: #e4ddcd;
            padding: 16px;
            text-align: center;
            @include vw(24);
            @include pc{
                @include fs(18);
            }
        }
        dd{
            padding: 16px;
            li{
                margin-bottom: 16px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
    .fukidashi{
        text-align: center;
        color: $color_key;
        position: relative;
        span{
            display: inline-block;
            vertical-align: middle;
        }
        &:after{
            content: "";
            height: 2em;
            background: url(/assets/img/common/fukidashi.png) no-repeat left top;
            background-size: contain;
            display: inline-block;
            width: 2em;
            vertical-align: middle;
        }
        &:before{
            content: "";
            height: 2em;
            background: url(/assets/img/common/fukidashi.png) no-repeat left top;
            background-size: contain;
            display: inline-block;
            width: 2em;
            transform: scaleX(-1);
            vertical-align: middle;
        }
    }
    .promotion-code{
        li{
            border-bottom: 1px solid #666;
            margin-bottom: 8px;
            padding-bottom: 16px;
            &:last-child{
                border-bottom: 0px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                .promotion-code-inner{
                    padding-bottom: 0px;
                }
            }
            .promotion-code-inner{
                padding:10px 10px  16px 10px;
            }
            .selected{
                background: #EEE;
                .m-btn-input{
                    background: #FFF;
                    border: 1px solid #666;
                    color: #666;
                }
            }
            h4{
                @include vw(28);
                @include pc{
                    @include fs(18);
                }
            }
            p{
                padding: 8px 0;
                font-weight: normal;
                @include vw(20);
                @include pc{
                    @include fs(14);
                }
            }
        }
    }
}
