@charset "utf-8";
@import "../lib/_properties";
@import "../lib/_mixin";


/*pages*/
#pageItemdetail{
    .item-detail{
        img{
            max-width: 100%;
        }
        display: flex;
        justify-content: space-between;
        align-items: top;
        width: 100%;
        .item-photo{
            width: 100%;
            max-width: 400px;
            img{
                border: 1px solid #b3b3b3;
            }
        }
        .item-info{
            max-width: 570px;
            width: 100%;
            &-inner{
                background: #FFF;
                padding: 16px 32px;
            }
        }
        .item-icons{
            li{
                display: inline-block;
                font-size: 10px;
                line-height: 1;
                padding: .3em .5em;
                background: #CCC;
                margin-right: 3px;
                border-radius: 5px;
                color: #FFF;
                span{
                    display: inline-block;
                }
                @include sp{
                    @include vw(20)
                }
                &.item-icon-new{
                    background-color: #ed1c24;
                }
                &.item-icon-member{
                    background-color: #000;
                    color: $color-key;
                    &:before{
                        content: "";
                        display: inline-block;
                        width: 1.2em;
                        height: 1.2em;
                        background-image: url(/assets/img/icon/memberonly.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        vertical-align: middle;
                        margin-right: .5em;
                    }
                }
                &.item-icon-sale{
                    background-color: #29abe2;
                }
            }
         }
        .item-name{
            font-size: 20px;
            @include vw(32);
            margin-top: 10px;
        }
        .item-code{
            color: #808080;
            @include vw(24);
            margin: 8px 0;
        }
        .item-thumbs{
            margin-top: 12px;
            display: flex;
            justify-content: flex-start;
            margin-left: -2%;
            flex-wrap: wrap;
            li{
                width: 18%;
               margin-left: 2%;
                margin-bottom: 12px;
                border: 1px solid #CCC;
            }
        }
    }
}

