@charset "utf-8";

.l {
    &-contents {
        width: 1000px;
        margin: auto;
        padding: 15px 0 50px;
        @include sp {
            width: 100%;
            padding: 0 0 0;
        }
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    @include sp {
        display: block;
    }
}
.content {
//            padding-top: 16px;
    width: 740px;
    @include sp {
        width: 100%;
//                padding-top: 0;
        padding-bottom: (170/750*100%);
    }
}