@charset "utf-8";

.u-{
	/* タイトル */
	&ttl{
		&1{
			display: flex;
			background-color: #fff;
			align-items: center;
			.img{
				width: percentage(157/750);
			}
			.txt{
				padding: vw(10) vw(64);
				@include vw(32);
				small{
					display: block;
					font-size: em(22/32);
				}
			}
			@include pc{
				.img{
				}
				.txt{
					font-size: 30px;
					small{
						font-size: 0.4em;
					}
				}
			}
		}
	}
	/* ボタン */
	&btn{
		display: block;
		background-color: #fff;
		border: 1px solid #999;
		padding: vw(10) vw(20);
		border-radius: vw(8);
		&.with{
			&Arw{
				&T{
					padding-right: vw(40);
					position: relative;
					&:before{
						content: "";
						width: vw(10);
						height: vw(10);
						margin: auto;
						border-style: solid;
						border-width: vw(1) vw(1) 0 0;
						border-color: #4d4d4d #4d4d4d transparent transparent;
						transform: rotate(-45deg);
						position: absolute;
						top: vw(5);
						bottom: 0;
						right: vw(15);
					}
				}
			}
		}
	}
	/* リスト */
	&thumTxtList{
		> ul{
			display: flex;
			flex-wrap: wrap;
			position: relative;
			&:after{
				content: "";
				background-color: #ccc;
				width: 1px;
				margin: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			> li{
				width: 50%;
				border-bottom: 1px solid #ccc;
				box-sizing: border-box;
				> a{
					display: block;
					background-color: #fff;
					height: 100%;
					.img{
					}
					.txt{
						padding: vw(15);
						word-break: break-all;
						> span{
							display: block;
							height: em(3);
							line-height: (36/24);
							@include vw(20);
						}
						.price{
							display: block;
							margin-top: vw(5);
							@include vw(28);
							font-weight: bold;
							font-style: normal;
						}
					}
				}
			}
		}
	}
	/* アイコン */
	&icn{
		&:before{
			content: "";
			display: inline-block;
			vertical-align: middle;
		}
		&.is_{
			&arwTB{
				&:before{
					background:url(../img/icon/icn_arw_tb.svg) 0 0 no-repeat;
					background-size: contain;
					width: vw(28);
					height: vw(25);
					margin-right: vw(5);
				}
			}
		}
	}
	/* ページャー */
	&pager{
		background-color: #fff;
		padding: vw(70) 0 vw(30);
		@include vw(24);
		line-height: 1;
		*{
			line-height: 1;
		}
		.box{
			display: flex;
		}
		a{
			border-style: solid;
			border-width: 0 0 vw(8);
			&.pre{//前
				background-color: #e6e6e6;
				color: #ababab;
				border-color: #ccc;
			}
			&.nxt{//後
				background-color: #666;
				color: #f2f2f2;
				border-color: #000;
			}
			&.all{//最初、最後
				width: percentage(150/686);
				div{
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					padding: vw(30) vw(10) vw(25);
					span{
						display: flex;
						align-items: center;
						height: 100%;
						margin-top: -0.15em;
						&:before{
							content: "";
							display: block;
							width: 0.6em;
							height: 0.6em;
							border-style: solid;
							border-width: vw(2) 0 0 vw(2);
						}
					}
				}
				&.pre{
					div{
						border-right: vw(2) solid #999;
						span{
							padding-left: vw(10);
							border-left: vw(2) solid #ababab;
							&:before{
								transform: rotate(-45deg);
							}
						}
					}
				}
				&.nxt{
					div{
						border-left: vw(2) solid #999;
						span{
							padding-right: vw(10);
							border-right: vw(2) solid #fff;
							&:before{
								transform: rotate(135deg);
							}
						}
					}
				}
			}
			&.one{//1ページ前後
				display: flex;
				justify-content: center;
				align-items: center;
				width: percentage((686-150)/686);
				padding: vw(30) vw(10) vw(25);
				span{
					display: block;
					width: 0.6em;
					height: 0.6em;
					margin-top: -0.15em;
					border-style: solid;
					border-width: vw(2) 0 0 vw(2);
				}
				&.pre{
					span{
						margin-right: 0.5em;
						border-color: #ababab;
						transform: rotate(-45deg);
					}
				}
				&.nxt{
					flex-direction: row-reverse;
					span{
						margin-left: 0.5em;
						border-color: #fff;
						transform: rotate(135deg);
					}
				}
			}
		}
	}
	/* その他 */
	&cateCondition{//カテゴリーなどにあるソート部分
		h3{
			font-weight: normal;
			em{
				font-size: em(32/24);
				font-style: normal;
			}
		}
		.partTop{
			display: flex;
			justify-content: space-between;
		}
		.sortList1{
			background-color: #fff;
			margin-top: vw(30);
			padding: vw(30);
			border-radius: vw(16);
			> ul{
				> li{
					& + li{
						margin-top: 1em;
					}
				}
			}
		}
		.partBottom{
			margin-top: vw(55);
			h3{
				margin-bottom: vw(40);
			}
		}
	}
}


/* フォーム */
.radio{
	input{
		display: none;
	}
	label{
		display: flex;
		&:before{
			content: "";
			display: inline-block;
			background-color: #fff;
			width: vw(18);
			height: vw(18);
			border: vw(10) solid #fff;
			border-radius: 50%;
			box-shadow: 0 0 0 1px $color_key;
		}
		span{
			padding: 0.15em 0 0 0.5em;
		}
	}
	input:checked + label:before{
		background-color: $color_key;
	}
}

