@charset "utf-8";
.u-{
	/* タイトル */
	&ttl{
		&1{
			display: flex;
			background-color: #fff;
			align-items: center;
			.img{
				width: percentage(157/750);
			}
			.txt{
				padding: vw(10) vw(64);
				@include vw(32);
				small{
					display: block;
					font-size: em(22/32);
				}
			}
		}
	}
}

.cateCondition{
	.partTop{
		display: flex;
		justify-content: space-between;
	}
}




